<a class="btn btn-primary"  href="/api_admin/dashboard" role="button" >dashboard</a>
<a class="btn btn-primary"  href="/api_admin/account_manager" role="button" >Account Manager</a>
<a class="btn btn-primary"  href="/api_admin/notice" role="button" >Notice</a>
      